* {
  box-sizing: border-box;
}

body {
  font-family: "Karla", sans-serif;
  margin: 0;
}

main {
  padding: 36px;
}

.header {
  display: flex;
  align-items: center;
  height: 65px;
  padding: 20px;
  margin: 20px;
}

.header--image {
  height: 100%;
  margin-right: 6px;
}

.header--title {
  font-size: 3.25rem;
}

.header--dayy {
  display: flex;
  align-items: flex-start;
  margin: 10px;
  font-size: 1.25rem;
}

.header--project {
  font-size: 0.75rem;
  font-weight: 500;
  margin-left: auto;
}

/* main */

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.btn {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: none;
  background-color: #3399cc;
  color: white;
  font-size: 1.5rem;
}
.btn-small {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  border: none;
  background-color: #3399cc;
  color: white;
  font-size: 1.5rem;
}
.btn3 {
  background-color: #0095ff;
  border: 1px solid transparent;
  border-radius: 3px;
  box-shadow: rgba(255, 255, 255, 0.4) 0 1px 0 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", "Liberation Sans",
    sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.15385;
  margin: 0;
  outline: none;
  padding: 8px 0.8em;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
}

.btn3:hover,
.btn3:focus {
  background-color: #07c;
}

.btn3:focus {
  box-shadow: 0 0 0 4px rgba(0, 149, 255, 0.15);
}

.btn3:active {
  background-color: #0064bd;
  box-shadow: none;
}

.btn4 {
  background-color: white;
  border: 1px solid transparent;
  border-radius: 3px;
  box-shadow: rgba(255, 255, 255, 0.4) 0 1px 0 0 inset;
  box-sizing: border-box;
  color: black;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", "Liberation Sans",
    sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.15385;
  margin: 0;
  outline: none;
  padding: 8px 0.8em;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.add--newtask{
  display: flex;
  align-items: center;
  height: 20px;
  margin: 20px;
}
.add--remind{
  max-width: 30%;
}
.ppp{
  max-width: 30%;
  size: 50%;
  margin-left: auto;
  padding: 0;
}
.left{
  display: flex;
  align-items: center;
}
.h1--left{
  display: flex;
  align-items: flex-start;
  height: 65px;
  margin: 20px;
}
.date--time{
  display: flex;
  align-items: center;
  height: 20px;
  margin: 20px;
}
.imput{
  width: 100%;
  border: none;
  width: 97%;
  margin: 20px;
  word-wrap: break-word;
}
.listt{
  align-items: center;
  height:75%;
  width: 97%;
  border: none;
  margin: 20px;
  word-wrap: break-word;
}
.crossed-line {
  text-decoration: line-through;
}
.right{
  width: 6%;
  margin-left: auto;
}
.checkbox-round {
  width: 1.3em;
  height: 1.3em;
  background-color: white;
  border-radius: 50%;
  vertical-align: middle;
  border: 1px solid #ddd;
  appearance: none;
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
}

.checkbox-round:checked {
  background-color: #3399cc;
}